{% extends 'base.html' %}
{% load static %}

{% block content %}

<body id="top">

{% include 'preloader.html' %}
{% include 'header.html' %}



    <!-- Content
    ================================================== -->
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">

                <section class="page-content">

                    <h2 class="page-content__title h1">PenFan 블로그에 오신걸 환영합니다.</h2>
                    
                    <p class="lead">
                    연필로 써내려가는 삶
                    </p>
                    
                    

                    <div class="row block-large-1-2 block-tab-full">

                        <div class="column">
                            <h5>Why PenFan?</h5>

                            <p>
                            It's because I'm FAN of PENs!
                            </p>
                        </div>

                        <div class="column">
                            <h5>What I write about.</h5>

                            <p>
                            All Stationery Things!

                            like pencils, ballpoint pens, leadholers and related supplies
                            </p>
                        </div>

                        <div class="column">
                            <h5>Goal</h5>

                            <p>
                            Goal is to record all my stationery collections :)
                            </p>
                        </div>

                        <div class="column">
                            <h5>Welcome!</h5>

                            <p>
                            Hope you enjoy my blog!
                            </p>
                        </div>

                    </div>

                </section> <!-- end page -->

           </div> <!-- end main -->


{% include 'sidebar.html' %}

       </div> <!-- end row -->

   </div> <!-- end content-wrap -->


{% include 'footer.html' %}


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

{% endblock %}