{% extends 'base.html' %}
{% load static %}

{% block content %}

<body id="top">

{% include 'preloader.html' %}
{% include 'header.html' %}



    <!-- Content
    ================================================== -->
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">

                <section class="page-content">

                    <h2 class="page-content__title h1">Just a Sample Page.</h2>
                    
                    <p class="lead">
                    Molestias aperiam sapiente illo velit ipsam impedit vero ut ut. Ut repudiandae 
                    temporibus labore aut. Commodi corporis in non ut. Explicabo libero dolorem 
                    omnis quo facere. Et et qui alias ad. Ratione perferendis sunt voluptatibus 
                    culpa. Alias ullam at voluptatibus sed nemo. Dolor irure velit commodo cillum sit nulla
                    </p>
                    
                    <p>
                    Voluptas voluptatibus dolores. Voluptatum illum odio. Fugiat voluptas eos et 
                    non ducimus possimus illum harum. Qui omnis repudiandae. Repellat sequi quibusdam 
                    animi molestiae non. Ducimus ut eos sed nihil reiciendis incidunt dolorem.
                    Molestiae facilis rerum. Harum dignissimos et est maxime alias reiciendis. 
                    Provident eum consequatur recusandae laborum ut ducimus. Hic est ea voluptates 
                    tenetur et eum voluptates. Porro perferendis nobis omnis odit commodi eveniet quos. 
                    Aut nihil qui et.
                    </p>

                    <p>
                    Possimus magnam et omnis laudantium atque similique nostrum. Repudiandae nihil magni 
                    omnis necessitatibus aliquid fuga voluptates. Quae incidunt quo repellendus vero 
                    totam porro. Recusandae et qui. Officia fuga dicta fugit quam eum enim. Aperiam 
                    impedit non sint perspiciatis iste. Assumenda consequatur dolorum eius ea in 
                    accusamus aut. Consequuntur voluptatem necessitatibus soluta doloribus. Vero 
                    nobis nisi molestias reprehenderit voluptatem quidem est reprehenderit sit.
                    </p>

                    <div class="row block-large-1-2 block-tab-full">

                        <div class="column">
                            <h5>Our Process.</h5>

                            <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                            voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                            </p>
                        </div>

                        <div class="column">
                            <h5>Our Approach.</h5>

                            <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                            voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                            </p>
                        </div>

                        <div class="column">
                            <h5>Our Goal.</h5>

                            <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                            voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                            </p>
                        </div>

                        <div class="column">
                            <h5>Our Mission.</h5>

                            <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                            voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                            </p>
                        </div>

                    </div>

                </section> <!-- end page -->

           </div> <!-- end main -->


{% include 'sidebar.html' %}

       </div> <!-- end row -->

   </div> <!-- end content-wrap -->


{% include 'footer.html' %}


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

{% endblock %}