    <!-- Header
    ================================================== -->
    <header class="s-header">

        <div class="row">

            <div class="s-header__content column">
                <h1 class="s-header__logotext">
                    <a href="/" title="">Pencil Blog</a>
                </h1>
                <p class="s-header__tagline">연필로 살아가는 삶</p>
            </div>

        </div> <!-- end row -->

       <nav class="s-header__nav-wrap">

           <div class="row">

                <ul class="s-header__nav">
                    <li class="current"><a href="{% url 'home' %}">Home</a></li>
                    <!-- 사용되지 않는 메뉴들
                    <li class="has-children"><a href="#0">Dropdown</a>
                        <ul>
                            <li><a href="#0">Submenu 01</a></li>
                            <li><a href="#0">Submenu 02</a></li>
                            <li><a href="#0">Submenu 03</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'demo' %}">Demo</a></li>
                    <li class="has-children"><a href="#0">Blog</a>
                        <ul>
                            <li><a href="{% url 'blog' %}">Blog Entries</a></li>
                        </ul>
                    </li>
                   -->
                    <li><a href="{% url 'archives' %}">Archives</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'changelog' %}">ChangeLog</a></li>
                    <li>
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">{{ user.username }} (로그아웃)</a>
                        {% else %}
                        <a href="{% url 'login' %}">로그인</a>
                        {% endif %}
                    </li>
                    <li>
                      {% if not user.is_authenticated %}
                      <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
                      {% endif %}
                    </li>
                </ul> <!-- end #nav -->

           </div>

        </nav> <!-- end #nav-wrap -->

        <a class="header-menu-toggle" href="#0" title="Menu"><span>Menu</span></a>

    </header> <!-- Header End -->

