           <div id="sidebar" class="s-content__sidebar large-4 column">

               <div class="widget widget--search">
                  <h3 class="h6">Search</h3>
                  <form action="#">
                     <input type="text" value="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search">
                     <input type="submit" value="" class="submit-search">
                  </form>
               </div>
              <!-- 카테고리 위젯
               <div class="widget widget--categories">
                  {% load taggit_templatetags2_tags %}
                  {% get_taglist as tags %}
                   <h3 class="h6">Categories.</h3>
                   <ul>
                     {% for tag in tags %}
                        <li><a href="#0" title="">{{ tag }} ({{tag.num_times}})</li>
                     {% endfor %}
                    </ul>
                </div>
             -->

                <div class="widget widget_text group">
                    <h3 class="h6">Widget Text.</h3>

                    <p>
                    Lorem ipsum Ullamco commodo laboris sit dolore commodo aliquip incididunt fugiat esse dolor
                    aute fugiat minim eiusmod do velit labore fugiat officia ad sit culpa labore in consectetur
                    sint cillum sint consectetur voluptate adipisicing Duis irure magna ut sit amet reprehenderit.
                    </p>
                </div>

                <div class="widget widget_tags">
                  {% load taggit_templatetags2_tags %}
                  {% get_taglist as tags %}
                    <h3 class="h6">Post Tags.</h3>

                    <div class="tagcloud group">
                        {% for tag in tags %}
                          <a href="#0">{{ tag }} ({{tag.num_times}})</a>
                        {% endfor %}
                    </div>
                </div>

                <div class="widget widget_popular">
                    <h3 class="h6">Popular Post.</h3>

                    <ul class="link-list">
                        <li><a href="#">Sint cillum consectetur voluptate.</a></li>
                        <li><a href="#">Lorem ipsum Ullamco commodo.</a></li>
                        <li><a href="#">Fugiat minim eiusmod do.</a></li>
                    </ul>
                </div>

           </div> <!-- end sidebar -->