{% extends 'base.html' %}
{% load static %}

{% block content %}

<body id="top" class="ss-single">

{% include 'preloader.html' %}
{% include 'header.html' %}

    <!-- Content
    ================================================== -->
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-8 column">

                <article class="entry">

                    <header class="entry__header">

                        <h2 class="entry__title h1">
                            <a href="/blog/post/{{ post.pk }}" title="">{{ post.title }}</a>
                        </h2>

                        <div class="entry__meta">
                            <ul>
                                <li>{{ post.created_date|date:"M. d. Y" }}</li>
                                <li>
                                    {% for tag in post.tags.all %}
                                      {% if forloop.last %}
                                        <a href="{% url 'tagged-post' tag.name %}" title="" rel="category tag">{{ tag.name }}</a>
                                      {% else %}
                                        <a href="{% url 'tagged-post' tag.name %}" title="" rel="category tag">{{ tag.name }}</a>, 
                                      {% endif %}
                                    {% endfor %}
                                </li>
                                <li>{{ post.author}}</li>
                                {% load hitcount_tags %}
                                <li>조회수: {{ hitcount.total_hits }}</li>
                            </ul>
                        </div>
                     
                    </header> <!-- entry__header -->

                    <div class="entry__content">
                        <p class="">
                        <!--IMAGE
                          {% if post.image %}
                            <img src="{{ post.image.url }}" alt="image">
                          {% else %}
                          {% endif %}
                        -->
                          {% load editorjs %}
                          {{ post.body_editorjs_text | editorjs }}
                          {{ post.body_editorjs_custom | editorjs }}
                          
                          {{ post.body_quill.html | safe }}
                        </p>
                    </div> <!-- entry__content -->

                    <p class="entry__tags">
                        <span>Tagged in </span>:
                                    {% for tag in post.tags.all %}
                                      {% if forloop.last %}
                                        <a href="{% url 'tagged-post' tag.name %}" title="" rel="category tag">{{ tag.name }}</a>
                                      {% else %}
                                        <a href="{% url 'tagged-post' tag.name %}" title="" rel="category tag">{{ tag.name }}</a>, 
                                      {% endif %}
                                    {% endfor %}
                    </p>
                    <div class="entry__meta">
                      <ul>
                        <li><a href="{% url 'update' post.pk %}">수정</a></li>
                        <li><a href="{% url 'delete' post.pk %}">삭제</a></li>
                      </ul>
                    </p>

                    <ul class="entry__post-nav h-group">
                      <!--PREVIOUS POST-->
                        {% if previous %}
                          <li class="previous"><a rel="previous" href="{% url 'single' previous.pk %}"><strong class="h6">Previous Article</strong> {{ previous }}</a></li>
                        {% else %}
                          <li class="previous"><a rel="previous" href="#0"><strong class="h6">Previous Article</strong> 첫번째 글입니다.</a></li>
                        {% endif %}
                      <!--NEXT POST-->
                        {% if next %}
                          <li class="next"><a rel="next" href="{% url 'single' next.pk %}"><strong class="h6">Next Article</strong> {{ next }}</a></li>
                        {% else %}
                          <li class="next"><a rel="next" href="#0"><strong class="h6">Next Article</strong> 마지막 글입니다.</a></li>
                        {% endif %}
                    </ul>

                </article> <!-- end entry -->

                <div class="comments-wrap">

                    <div id="comments">

                        <h3>{{ post.comment_set.count }} Comments</h3>
        
                        <!-- START commentlist -->
                        <ol class="commentlist">
                          {% for comment in post.comment_set.all %}
                            <li class="depth-1 comment">
        
                                <div class="comment__avatar">
                                    <img class="avatar" src="{% static 'images/avatars/default.jpg' %}" alt="" width="50" height="50">
                                </div>
        
                                <div class="comment__content">
        
                                    <div class="comment__info">
                                        <div class="comment__author">{{ comment.name }}</div>
        
                                        <div class="comment__meta">
                                            <div class="comment__time">{{ comment.created_on|date:"M. d. Y" }}</div>
                                          <!--REPLY
                                            <div class="comment__reply">
                                                <a class="comment-reply-link" href="#0">Reply</a>
                                            </div>
                                          -->
                                        </div>
                                    </div>
        
                                    <div class="comment__text">
                                    <p>{{ comment.comment }}</p>
                                    </div>
        
                                </div>
        
                            </li>  <!-- end comment level 1 -->        
                          {% endfor %}
                        </ol>
                        <!-- END commentlist -->

                    </div> <!-- end comments -->

                    <div class="comment-respond">

                        <!-- START respond -->
                        <div id="respond">
            
                            <h3>Add Comment <span>댓글은 언제나 환영입니다 :)</span></h3>
            
                            <form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
                                {% csrf_token %}
                                <fieldset>
                                    {{ form.as_p }}           
                                    <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large h-full-width" value="Add Comment" type="submit">
                                </fieldset>
                            </form> <!-- end form -->
            
                        </div>
                        <!-- END respond-->
            
                    </div> <!-- end comment-respond -->
            
                </div> <!-- end comments-wrap -->

            </div> <!-- end main -->


{% include 'sidebar.html' %}

        </div> <!-- end row -->

    </div> <!-- end content-wrap -->

{% include 'footer.html' %}

   <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

{% endblock %}